h1 {
	color:blue;
}
body {
	background: #5F9EA0;
	margin-top: auto;
    	margin-bottom: auto;
    	margin-right: auto;
    	margin-left: auto;
}
.jumbotron {
    position: relative;
    background: #000 url("picture.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
